form.entry										{ padding:0px; 						}
form.entry fieldset								{ border:none; padding:0px;			}
form.entry input, 
form.entry label,
form.entry select, 	
form.entry textarea								{ float:left; 	}
form.entry input[type=text],
form.entry input[type=submit],
form.entry textarea,
form.entry select								{ width: 400px;						}
form.entry textarea								{ height:200px;						}
form.entry label								{ width: 200px;						}

form.entry input, form.entry label, 
form.entry label select, form.entry textarea	{ margin-bottom:4px;  		}

form.entry fieldset.options						{ margin-left:200px;		}
form.entry fieldset.options label				{ width: auto; 				}
form.entry fieldset.options input[type=text]	{ width: 80px;				}


form.entry	fieldset.c2	input[type=text],
form.entry	fieldset.c2 select,					
form.entry	fieldset.c2	label,
form.entry	fieldset.c2 textarea				{ width:140px; }


form.entry br 									{display:none; }